# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Everything goes through the following "global owners" by default.
# Unless a later match takes precedence, these three will be
# requested for review when someone opens a PR.
# Note that the last matching pattern takes precedence, so
# global owners are only requested if there isn't a more specific
# codeowner specified below. For this reason, the global codeowners
# are often repeated in package-level definitions.
*       @alexanderbez @ebuchman @melekes @tessr

# Overrides for tooling packages
.github/ @marbar3778 @alexanderbez @ebuchman @melekes @tessr
DOCKER/ @marbar3778 @alexanderbez @ebuchman @melekes @tessr

# Overrides for core Tendermint packages
abci/  @marbar3778 @alexanderbez @ebuchman @melekes @tessr
evidence/ @cmwaters @ebuchman @melekes @tessr
light/ @cmwaters @melekes @ebuchman @tessr

# Overrides for docs
*.md @marbar3778 @alexanderbez @ebuchman @melekes @tessr
docs/ @marbar3778 @alexanderbez @ebuchman @melekes @tessr


