# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Everything goes through Bucky, Anton, Alex. For now.
*       @ebuchman @melekes @xla

# Precious documentation
/docs/README.md  @zramsay
/docs/DOCS_README.md  @zramsay
/docs/.vuepress/  @zramsay
