*.swp
*.swo
.bak
*.bak
.DS_Store
build/*
rpc/test/.tendermint
.tendermint
remote_dump
.revision
vendor
.vagrant
test/e2e/build
test/maverick/maverick
test/e2e/networks/*/
test/p2p/data/
test/logs
coverage.txt
docs/_build
docs/dist
docs/.vuepress/dist
*.log
abci-cli
docs/node_modules/
index.html.md

scripts/wal2json/wal2json
scripts/cutWALUntil/cutWALUntil

.idea/
*.iml

.vscode/

libs/pubsub/query/fuzz_test/output
shunit2

.tendermint-lite
addrbook.json

*/vendor
.vendor-new/
*/.glide
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d
profile\.out

third_party/bls-signatures/build
test/e2e/build
test/e2e/networks/*/
test/logs
test/maverick/maverick
test/p2p/data/
vendor
test/fuzz/**/corpus
test/fuzz/**/crashers
test/fuzz/**/suppressions
test/fuzz/**/*.zip
