*.swp
*.swo
.bak
*.bak
.DS_Store
build/*
rpc/test/.tendermint
.tendermint
remote_dump
.revision
vendor
.vagrant
test/p2p/data/
test/logs
coverage.txt
docs/_build
docs/tools
*.log
abci-cli
abci/types/types.pb.go

scripts/wal2json/wal2json
scripts/cutWALUntil/cutWALUntil

.idea/
*.iml

libs/pubsub/query/fuzz_test/output
shunit2
