[Unit]
Description=Basecoin server
Requires=network-online.target
BindTo=basecoin.service
PartOf=basecoin.service
After=network-online.target basecoin.service
PropagatesReloadTo=basecoin.service
ReloadPropagatedFrom=basecoin.service

[Service]
Environment="TMHOME=/etc/basecoin/tendermint"
Restart=on-failure
User=basecoin
Group=basecoin
PermissionsStartOnly=true
ExecStart=/usr/bin/tendermint node
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target basecoin.service
Also=basecoin.service

