secrets:
  nodes:
    node0:
      address: ""
      public_key: ""
      private_key: ""
      node_key: ""
      power: ""
    node1:
      address: ""
      public_key: ""
      private_key: ""
      node_key: ""
      power: ""
    node2:
      address: ""
      public_key: ""
      private_key: ""
      node_key: ""
      power: ""
    node3:
      address: ""
      public_key: ""
      private_key: ""
      node_key: ""
      power: ""