{
  "genesis_time":"{{ansible_date_time.iso8601}}",
  "chain_id":"{{testnet_name}}",
  "validators":
  [
{% if (validators == true) or (validators == 'true') %}
{% set comma = joiner(",") %}
{% for host in (groups[testnet_name]|default([]))+(groups['tag_Environment_'~(testnet_name|regex_replace('-','_'))]|default([])) %}
    {{ comma() }}
    {
      "pub_key": {
        "data": "{{hostvars[host]["pubkey"]["data"]}}",
        "type": "{{hostvars[host]["pubkey"]["type"]}}"
      },
      "amount":10,
      "name":"{{hostvars[host]["inventory_hostname"]}}"
    }
{% endfor %}
{% endif %}
  ],
  "app_hash":"",
  "app_options": {}
}

