{
  "genesis_time":"{{ansible_date_time.iso8601}}",
  "chain_id":"{{testnet_name}}",
  "validators": [],
  "app_hash":"",
  "app_options": {
{% if app_options_file is defined %}
{% include app_options_file %}
{% endif %}
  }
}

