{
  "genesis_time":"{{ansible_date_time.iso8601}}",
  "chain_id":"{{testnet_name}}",
  "validators":
  [
{% if (validators == true) or (validators == 'true') %}
{% set comma = joiner(",") %}
{% for host in (groups[testnet_name]|default([]))+(groups['tag_Environment_'~(testnet_name|regex_replace('-','_'))]|default([])) %}
    {{ comma() }}
    {
      "pub_key": {
        "data": "{{hostvars[host]["pubkey"]["data"]}}",
        "type": "{{hostvars[host]["pubkey"]["type"]}}"
      },
      "power":1000,
      "name":"{{hostvars[host]["inventory_hostname"]}}"
    }
{% endfor %}
{% endif %}
  ],
  "app_hash":"",
{% if service == 'basecoind' %}
  "app_state": {
{% else %}
  "app_options": {
{% endif %}
{% if app_options_file is defined %}
{% include app_options_file %}
{% endif %}
  }
{% if service == 'ethermint' %}
  ,
  "config": {
      "chainId": 15,
      "homesteadBlock": 0,
      "eip155Block": 0,
      "eip158Block": 0
  },
  "nonce": "0xdeadbeefdeadbeef",
  "timestamp": "0x00",
  "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
  "mixhash": "0x0000000000000000000000000000000000000000000000000000000000000000",
  "difficulty": "0x40",
  "gasLimit": "0x8000000",
  "alloc": {
    "0x7eff122b94897ea5b0e2a9abf47b86337fafebdc": { "balance": "10000000000000000000000000000000000" },
    "0xc6713982649D9284ff56c32655a9ECcCDA78422A": { "balance": "10000000000000000000000000000000000" }
  }
{% endif %}
}
