# Core Verification

Deprecated, please see [light-client/accountability](../../light-client/verification.md).
