proxy_app = "{{tendermint_proxy_app}}"
node_laddr = "{{tendermint_node_laddr}}"
seeds = "{{tendermint_seeds}}"
fast_sync = {{tendermint_fast_sync | bool | lower}}
db_backend = "{{tendermint_db_backend}}"
log_level = "{{tendermint_log_level}}"
rpc_laddr = "{{tendermint_rpc_laddr}}"

genesis_file = "{{tendermint_genesis_file}}"
abci = "{{tendermint_abci}}"
skip_upnp = {{tendermint_skip_upnp | bool | lower}}
addrbook_file = "{{tendermint_addrbook_file}}"
addrbook_strict = {{tendermint_addrbook_strict | bool | lower}}
pex_reactor = {{tendermint_pex_reactor | bool | lower}}
priv_validator_file = "{{tendermint_priv_validator_file}}"

db_dir = "{{tendermint_db_dir}}"
grpc_laddr = "{{tendermint_grpc_laddr}}"
prof_laddr = "{{tendermint_prof_laddr}}"
cs_wal_file = "{{tendermint_cs_wal_file}}"
cs_wal_light = {{tendermint_cs_wal_light | bool | lower}}
filter_peers = {{tendermint_filter_peers | bool | lower}}

block_size = {{tendermint_block_size}}
block_part_size = {{tendermint_block_part_size}}
disable_data_hash = {{tendermint_disable_data_hash | bool | lower}}
timeout_propose = {{tendermint_timeout_propose}}
timeout_propose_delta = {{tendermint_timeout_propose_delta}}
timeout_prevote = {{tendermint_timeout_prevote}}
timeout_prevote_delta = {{tendermint_timeout_prevote_delta}}
timeout_precommit = {{tendermint_timeout_precommit}}
timeout_precommit_delta = {{tendermint_timeout_precommit_delta}}
timeout_commit = {{tendermint_timeout_commit}}
skip_timeout_commit = {{tendermint_skip_timeout_commit | bool | lower}}
mempool_recheck = {{tendermint_mempool_recheck | bool | lower}}
mempool_recheck_empty = {{tendermint_mempool_recheck_empty | bool | lower}}
mempool_broadcast = {{tendermint_mempool_broadcast | bool | lower}}
mempool_wal_dir = "{{tendermint_mempool_wal_dir}}"
