# Tendermint (Upstart unit)
description "Tendermint"

start on {{ tendermint_upstart_start_on }}
stop on {{ tendermint_upstart_stop_on }}

script
  # Use su to become tendermint user non-interactively on old Upstart versions (see http://superuser.com/a/234541/76168)
  exec su -s /bin/sh -c 'TMROOT={{tendermint_home}} exec "$0" "$@" >> {{ tendermint_log_file }} 2>&1' tendermint -- /usr/local/bin/tendermint node \
    --moniker={{inventory_hostname}}
end script

respawn
respawn limit 10 10

kill timeout 10
