[Unit]
Description=Tendermint
Requires=network-online.target
After=network-online.target

[Service]
Environment="TMROOT={{tendermint_home}}"
Restart=on-failure
User={{ tendermint_user }}
Group={{ tendermint_group }}
PermissionsStartOnly=true
ExecStart=/usr/local/bin/tendermint node --moniker={{inventory_hostname}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
