We changed the naming convention and versioning of specifications. 
See [verification_001_published.md](./verification_001_published.md)
for the file that used to be called `verification.md`. There are also newer
versions of this specification in this directory.