swagger: "2.0"
info:
  version: "0.32.1"
  title: RPC client for Tendermint
  description: A REST interface for state queries, transaction generation and broadcasting.
  license:
    name: Apache 2.0
    url: https://github.com/tendermint/tendermint/blob/master/LICENSE
tags:
  - name: Websocket
    description: Subscribe/unsubscribe are reserved for websocket events.
  - name: Info
    description: Informations about the node APIs
  - name: Tx
    description: Transactions broadcast APIs
  - name: ABCI
    description: ABCI APIs
  - name: Evidence
    description: Evidence APIs
schemes:
  - https
host: stargate.cosmos.network:26657
securityDefinitions:
  kms:
    type: basic
paths:
  /health:
    get:
      summary: Node heartbeat
      tags:
        - Info
      operationId: health
      description: |
        Get node health. Returns empty result (200 OK) on success, no response - in case of an error.
      produces:
        - application/json
      responses:
        200:
          description: empty answer
          schema:
            $ref: '#/definitions/EmptyResponse'
        500:
          description: empty error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /status:
    get:
      summary: Node Status
      operationId: status
      tags:
        - Info
      description: |
        Get Tendermint status including node info, pubkey, latest block hash, app hash, block height and time.
      produces:
        - application/json
      responses:
        200:
          description: Status of the node
          schema:
            $ref: '#/definitions/StatusResponse'
        500:
          description: empty error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /net_info:
    get:
      summary: Network informations
      operationId: net_info
      tags:
        - Info
      description: |
        Get network info.
      produces:
        - application/json
      responses:
        200:
          description: empty answer
          schema:
            $ref: '#/definitions/NetInfoResponse'
        500:
          description: empty error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /blockchain:
    get:
      summary: Get block headers for minHeight <= height <= maxHeight.
      operationId: blockchain
      parameters:
        - in: query
          name: minHeight
          type: number
          description: Minimum block height to return
          x-example: 1
        - in: query
          name: maxHeight
          type: number
          description: Maximum block height to return
          x-example: 2
      tags:
        - Info
      description: |
        Get Blockchain info.
      produces:
        - application/json
      responses:
        200:
          description: Block headers, returned in descending order (highest first).
          schema:
            $ref: '#/definitions/BlockchainResponse'
        500:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /block:
    get:
      summary: Get block at a specified height
      operationId: block
      parameters:
        - in: query
          name: height
          type: number
          description: height to return. If no height is provided, it will fetch the latest block
          default: latest
          x-example: 1
      tags:
        - Info
      description: |
        Get Block.
      produces:
        - application/json
      responses:
        200:
          description: Block informations.
          schema:
            $ref: '#/definitions/BlockResponse'
        500:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /block_results:
    get:
      summary: Get block results at a specified height
      operationId: block_results
      parameters:
        - in: query
          name: height
          type: number
          description: height to return. If no height is provided, it will fetch informations regarding the latest block
          default: latest
          x-example: 1
      tags:
        - Info
      description: |
        Get block_results.
      produces:
        - application/json
      responses:
        200:
          description: Block results.
          schema:
            $ref: '#/definitions/BlockResultsResponse'
        500:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /commit:
    get:
      summary: Get commit results at a specified height
      operationId: commit
      parameters:
        - in: query
          name: height
          type: number
          description: height to return. If no height is provided, it will fetch commit informations regarding the latest block
          default: latest
          x-example: 1
      tags:
        - Info
      description: |
        Get Commit.
      produces:
        - application/json
      responses:
        200:
          description: Commit results.
          schema:
            $ref: '#/definitions/CommitResponse'
        500:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /validators:
    get:
      summary: Get validator set at a specified height
      operationId: validators
      parameters:
        - in: query
          name: height
          type: number
          description: height to return. If no height is provided, it will fetch validato set at the latest block
          default: latest
          x-example: 1
      tags:
        - Info
      description: |
        Get Validators.
      produces:
        - application/json
      responses:
        200:
          description: Commit results.
          schema:
            $ref: '#/definitions/ValidatorsResponse'
        500:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /genesis:
    get:
      summary: Get Genesis
      operationId: genesis
      tags:
        - Info
      description: |
        Get genesis.
      produces:
        - application/json
      responses:
        200:
          description: Genesis results.
          schema:
            $ref: '#/definitions/GenesisResponse'
        500:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /dump_consensus_state:
    get:
      summary: Get consensus state
      operationId: dump_consensus_state
      tags:
        - Info
      description: |
        Get consensus state.
      produces:
        - application/json
      responses:
        200:
          description: consensus state results.
          schema:
            $ref: '#/definitions/DumpConsensusResponse'
        500:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /consensus_state:
    get:
      summary: Get consensus state
      operationId: consensus_state
      tags:
        - Info
      description: |
        Get consensus state.
      produces:
        - application/json
      responses:
        200:
          description: consensus state results.
          schema:
            $ref: '#/definitions/ConsensusStateResponse'
        500:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'

definitions:
  JSONRPC:
    type: object
    properties:
      id:
        type: string
        x-example: ""
      jsonrpc:
        type: string
        x-example: "2.0"
  EmptyResponse:
    description: Empty Response
    allOf:
      - $ref: '#/definitions/JSONRPC'
      - type: object
        properties:
          result:
            type: object
            additionalProperties: {}
  ErrorResponse:
    description: Error Response
    allOf:
      - $ref: '#/definitions/JSONRPC'
      - type: object
        properties:
          error:
            type: string
            x-example: "Description of failure"
  ProtocolVersion:
    type: object
    properties:
      p2p:
        type: string
        x-example: "7"
      block:
        type: string
        x-example: "10"
      app:
        type: string
        x-example: "0"
  PubKey:
    type: object
    properties:
      type:
        type: string
        x-example: "tendermint/PubKeyEd25519"
      value:
        type: string
        x-example: "A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4="
  NodeInfo:
    type: object
    properties:
      protocol_version:
        $ref: '#/definitions/ProtocolVersion'
      id:
        type: string
        x-example: "5576458aef205977e18fd50b274e9b5d9014525a"
      listen_addr:
        type: string
        x-example: "tcp://0.0.0.0:26656"
      network:
        type: string
        x-example: "cosmoshub-2"
      version:
        type: string
        x-example: "0.32.1"
      channels:
        type: string
        x-example: "4020212223303800"
      moniker:
        type: string
        x-example: "moniker-node"
      other:
        type: object
        properties:
          tx_index:
            type: string
            x-example: "on"
          rpc_address:
            type: string
            x-example: "tcp://0.0.0.0:26657"
        x-example: "moniker-node"
  SyncInfo:
    type: object
    properties:
      latest_block_hash:
        type: string
        x-example: "790BA84C3545FCCC49A5C629CEE6EA58A6E875C3862175BDC11EE7AF54703501"
      latest_app_hash:
        type: string
        x-example: "C9AEBB441B787D9F1D846DE51F3826F4FD386108B59B08239653ABF59455C3F8"
      latest_block_height:
        type: string
        x-example: "1262196"
      latest_block_time:
        type: string
        x-example: "2019-08-01T11:52:22.818762194Z"
      catching_up:
        type: boolean
        x-example: false
  ValidatorInfo:
    type: object
    properties:
      address:
        type: string
        x-example: "5D6A51A8E9899C44079C6AF90618BA0369070E6E"
      pub_key:
        $ref: '#/definitions/PubKey'
      voting_power:
        type: string
        x-example: "0"
  Status:
    description: Status Response
    type: object
    properties:
      node_info:
        $ref: '#/definitions/NodeInfo'
      sync_info:
        $ref: '#/definitions/SyncInfo'
      validator_info:
        $ref: '#/definitions/ValidatorInfo'
  StatusResponse:
    description: Status Response
    allOf:
      - $ref: '#/definitions/JSONRPC'
      - type: object
        properties:
          result:
            $ref: '#/definitions/Status'
  Monitor:
    type: object
    properties:
      Active:
        type: boolean
        x-example: true
      Start:
        type: string
        x-example: "2019-07-31T14:31:28.66Z"
      Duration:
        type: string
        x-example: "168901060000000"
      Idle:
        type: string
        x-example: "168901040000000"
      Bytes:
        type: string
        x-example: "5"
      Samples:
        type: string
        x-example: "1"
      InstRate:
        type: string
        x-example: "0"
      CurRate:
        type: string
        x-example: "0"
      AvgRate:
        type: string
        x-example: "0"
      PeakRate:
        type: string
        x-example: "0"
      BytesRem:
        type: string
        x-example: "0"
      TimeRem:
        type: string
        x-example: "0"
      Progress:
        type: number
        x-example: 0
  Channel:
    type: object
    properties:
      ID:
        type: number
        x-example: 48
      SendQueueCapacity:
        type: string
        x-example: "1"
      SendQueueSize:
        type: string
        x-example: "0"
      Priority:
        type: string
        x-example: "5"
      RecentlySent:
        type: string
        x-example: "0"
  ConnectionStatus:
    type: object
    properties:
      Duration:
        type: string
        x-example: "168901057956119"
      SendMonitor:
        $ref: '#/definitions/Monitor'
      RecvMonitor:
        $ref: '#/definitions/Monitor'
      Channels:
        type: array
        items:
          $ref: '#/definitions/Channel'
  Peer:
    type: object
    properties:
      node_info:
        $ref: '#/definitions/NodeInfo'
      is_outbound:
        type: boolean
        x-example: true
      connection_status:
        $ref: '#/definitions/ConnectionStatus'
      remote_ip:
        type: string
        x-example: "95.179.155.35"
  NetInfo:
    type: object
    properties:
      listening:
        type: boolean
        x-example: true
      listeners:
        type: array
        items:
          type: string
          x-example: "Listener(@)"
      n_peers:
        type: number
        x-example: "1"
      peers:
        type: array
        items:
          $ref: '#/definitions/Peer'
  NetInfoResponse:
    description: NetInfo Response
    allOf:
      - $ref: '#/definitions/JSONRPC'
      - type: object
        properties:
          result:
            $ref: '#/definitions/NetInfo'
  BlockID:
    required:
      - "hash"
      - "parts"
    properties:
      hash:
        type: string
        x-example: "D82C2734BB0E76C772A10994B210EF9D11505D1B98CB189D9CF7F9A5488672A5"
      parts:
        required:
          - "total"
          - "hash"
        properties:
          total:
            type: string
            x-example: "1"
          hash:
            type: string
            x-example: "CB02DCAA7FB46BF874052EC2273FD0B1F2CF2E1593298D9781E60FE9C3DB8638"
        type: object
    type: object
  BlockMetaHeader:
    required:
      - "version"
      - "chain_id"
      - "height"
      - "time"
      - "num_txs"
      - "total_txs"
      - "last_block_id"
      - "last_commit_hash"
      - "data_hash"
      - "validators_hash"
      - "next_validators_hash"
      - "consensus_hash"
      - "app_hash"
      - "last_results_hash"
      - "evidence_hash"
      - "proposer_address"
    properties:
      version:
        required:
          - "block"
          - "app"
        properties:
          block:
            type: string
            x-example: "10"
          app:
            type: string
            x-example: "0"
        type: object
      chain_id:
        type: string
        x-example: "cosmoshub-2"
      height:
        type: string
        x-example: "12"
      time:
        type: string
        x-example: "2019-04-22T17:01:51.701356223Z"
      num_txs:
        type: string
        x-example: "2"
      total_txs:
        type: string
        x-example: "3"
      last_block_id:
        $ref: '#/definitions/BlockID'
      last_commit_hash:
        type: string
        x-example: "21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812"
      data_hash:
        type: string
        x-example: "970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73"
      validators_hash:
        type: string
        x-example: "D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0"
      next_validators_hash:
        type: string
        x-example: "D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0"
      consensus_hash:
        type: string
        x-example: "0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8"
      app_hash:
        type: string
        x-example: "223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C"
      last_results_hash:
        type: string
        x-example: ""
      evidence_hash:
        type: string
        x-example: ""
      proposer_address:
        type: string
        x-example: "D540AB022088612AC74B287D076DBFBC4A377A2E"
    type: object
  BlockMetaId:
    required:
      - "hash"
      - "parts"
    properties:
      hash:
        type: string
        x-example: "112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7"
      parts:
        required:
          - "total"
          - "hash"
        properties:
          total:
            type: string
            x-example: "1"
          hash:
            type: string
            x-example: "38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD"
        type: object
    type: object
  BlockMeta:
    type: object
    properties:
      block_id:
        $ref: '#/definitions/BlockMetaId'
      header:
        $ref: '#/definitions/BlockMetaHeader'
  Blockchain:
    type: object
    required:
      - "last_height"
      - "block_metas"
    properties:
      last_height:
        type: string
        x-example: "1276718"
      block_metas:
        type: "array"
        items:
          $ref: '#/definitions/BlockMeta'
  BlockchainResponse:
    description:  Blockchain info
    allOf:
      - $ref: '#/definitions/JSONRPC'
      - type: object
        properties:
          result:
            $ref: '#/definitions/Blockchain'
  Commit:
    required:
      - "type"
      - "height"
      - "round"
      - "block_id"
      - "timestamp"
      - "validator_address"
      - "validator_index"
      - "signature"
    properties:
      type:
        type: number
        x-example: 2
      height:
        type: string
        x-example: "1262085"
      round:
        type: string
        x-example: "0"
      block_id:
        $ref: '#/definitions/BlockID'
      timestamp:
        type: string
        x-example: "2019-08-01T11:39:38.867269833Z"
      validator_address:
        type: string
        x-example: "000001E443FD237E4B616E2FA69DF4EE3D49A94F"
      validator_index:
        type: string
        x-example: "0"
      signature:
        type: string
        x-example: "DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg=="
  Block:
    type: object
    properties:
      header:
        $ref: '#/definitions/BlockMetaHeader'
      data:
        type: array
        items:
          type: string
          x-example: 'yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0='
      evidence:
        type: array
        items:
          $ref: '#/definitions/Evidence'
      last_commit:
        type: object
        properties:
          block_id:
            $ref: '#/definitions/BlockID'
          precommits:
            type: array
            items:
              $ref: '#/definitions/Commit'
  Validator:
    type: object
    properties:
      pub_key:
        $ref: '#/definitions/PubKey'
      voting_power:
        type: number
      address:
        type: string
  Evidence:
    type: object
    properties:
      type:
        type: string
      height:
        type: number
      time:
        type: number
      total_voting_power:
        type: number
      validator:
        $ref:  '#/definitions/Validator'
  BlockComplete:
    type: object
    properties:
      block_meta:
        $ref: '#/definitions/BlockMeta'
      block:
        $ref: '#/definitions/Block'
  BlockResponse:
    description:  Blockc info
    allOf:
      - $ref: '#/definitions/JSONRPC'
      - type: object
        properties:
          result:
            $ref: '#/definitions/BlockComplete'
  Tag:
    type: object
    properties:
      key:
        type: string
        example: 'YWN0aW9u'
      value:
        type: string
        example: 'c2VuZA=='
  ################## FROM NOW ON NEEDS REFACTOR ##################
  BlockResultsResponse:
    type: "object"
    required:
      - "jsonrpc"
      - "id"
      - "result"
    properties:
      jsonrpc:
        type: "string"
        example: "2.0"
      id:
        type: "string"
        example: ""
      result:
        required:
          - "height"
          - "results"
        properties:
          height:
            type: "string"
            example: "12"
          results:
            required:
              - "DeliverTx"
              - "EndBlock"
              - "BeginBlock"
            properties:
              DeliverTx:
                type: "array"
                items:
                  type: "object"
                  properties:
                    log:
                      type: "string"
                      example: "[{\"msg_index\":\"0\",\"success\":true,\"log\":\"\"}]"
                    gasWanted:
                      type: "string"
                      example: "25629"
                    gasUsed:
                      type: "string"
                      example: "25629"
                    tags:
                      type: "array"
                      items:
                        type: "object"
                        properties:
                          key:
                            type: "string"
                            example: "YWN0aW9u"
                          value:
                            type: "string"
                            example: "c2VuZA=="
              EndBlock:
                required:
                  - "validator_updates"
                properties: {}
                type: "object"
              BeginBlock:
                properties: {}
                type: "object"
            type: "object"
        type: "object"
  CommitResponse:
    type: "object"
    required:
      - "jsonrpc"
      - "id"
      - "result"
    properties:
      jsonrpc:
        type: "string"
        example: "2.0"
      id:
        type: "string"
        example: ""
      result:
        required:
          - "signed_header"
          - "canonical"
        properties:
          signed_header:
            required:
              - "header"
              - "commit"
            properties:
              header:
                required:
                  - "version"
                  - "chain_id"
                  - "height"
                  - "time"
                  - "num_txs"
                  - "total_txs"
                  - "last_block_id"
                  - "last_commit_hash"
                  - "data_hash"
                  - "validators_hash"
                  - "next_validators_hash"
                  - "consensus_hash"
                  - "app_hash"
                  - "last_results_hash"
                  - "evidence_hash"
                  - "proposer_address"
                properties:
                  version:
                    required:
                      - "block"
                      - "app"
                    properties:
                      block:
                        type: "string"
                        example: "10"
                      app:
                        type: "string"
                        example: "0"
                    type: "object"
                  chain_id:
                    type: "string"
                    example: "cosmoshub-2"
                  height:
                    type: "string"
                    example: "12"
                  time:
                    type: "string"
                    example: "2019-04-22T17:01:51.701356223Z"
                  num_txs:
                    type: "string"
                    example: "2"
                  total_txs:
                    type: "string"
                    example: "3"
                  last_block_id:
                    required:
                      - "hash"
                      - "parts"
                    properties:
                      hash:
                        type: "string"
                        example: "D82C2734BB0E76C772A10994B210EF9D11505D1B98CB189D9CF7F9A5488672A5"
                      parts:
                        required:
                          - "total"
                          - "hash"
                        properties:
                          total:
                            type: "string"
                            example: "1"
                          hash:
                            type: "string"
                            example: "CB02DCAA7FB46BF874052EC2273FD0B1F2CF2E1593298D9781E60FE9C3DB8638"
                        type: "object"
                    type: "object"
                  last_commit_hash:
                    type: "string"
                    example: "21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812"
                  data_hash:
                    type: "string"
                    example: "970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73"
                  validators_hash:
                    type: "string"
                    example: "D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0"
                  next_validators_hash:
                    type: "string"
                    example: "D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0"
                  consensus_hash:
                    type: "string"
                    example: "0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8"
                  app_hash:
                    type: "string"
                    example: "223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C"
                  last_results_hash:
                    type: "string"
                    example: ""
                  evidence_hash:
                    type: "string"
                    example: ""
                  proposer_address:
                    type: "string"
                    example: "D540AB022088612AC74B287D076DBFBC4A377A2E"
                type: "object"
              commit:
                required:
                  - "block_id"
                  - "precommits"
                properties:
                  block_id:
                    required:
                      - "hash"
                      - "parts"
                    properties:
                      hash:
                        type: "string"
                        example: "112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7"
                      parts:
                        required:
                          - "total"
                          - "hash"
                        properties:
                          total:
                            type: "string"
                            example: "1"
                          hash:
                            type: "string"
                            example: "38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD"
                        type: "object"
                    type: "object"
                  precommits:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        type:
                          type: "number"
                          example: 2
                        height:
                          type: "string"
                          example: "12"
                        round:
                          type: "string"
                          example: "0"
                        block_id:
                          required:
                            - "hash"
                            - "parts"
                          properties:
                            hash:
                              type: "string"
                              example: "112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7"
                            parts:
                              required:
                                - "total"
                                - "hash"
                              properties:
                                total:
                                  type: "string"
                                  example: "1"
                                hash:
                                  type: "string"
                                  example: "38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD"
                              type: "object"
                          type: "object"
                        timestamp:
                          type: "string"
                          example: "2019-04-22T17:01:58.376629719Z"
                        validator_address:
                          type: "string"
                          example: "000001E443FD237E4B616E2FA69DF4EE3D49A94F"
                        validator_index:
                          type: "string"
                          example: "0"
                        signature:
                          type: "string"
                          example: "14jaTQXYRt8kbLKEhdHq7AXycrFImiLuZx50uOjs2+Zv+2i7RTG/jnObD07Jo2ubZ8xd7bNBJMqkgtkd0oQHAw=="
                type: "object"
            type: "object"
          canonical:
            type: "boolean"
            example: true
        type: "object"
  ValidatorsResponse:
    type: object
    required:
      - "jsonrpc"
      - "id"
      - "result"
    properties:
      jsonrpc:
        type: "string"
        example: "2.0"
      id:
        type: "string"
        example: ""
      result:
        required:
          - "block_height"
          - "validators"
        properties:
          block_height:
            type: "string"
            example: "55"
          validators:
            type: "array"
            items:
              type: "object"
              properties:
                address:
                  type: "string"
                  example: "000001E443FD237E4B616E2FA69DF4EE3D49A94F"
                pub_key:
                  required:
                    - "type"
                    - "value"
                  properties:
                    type:
                      type: "string"
                      example: "tendermint/PubKeyEd25519"
                    value:
                      type: "string"
                      example: "9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM="
                  type: "object"
                voting_power:
                  type: "string"
                  example: "250353"
                proposer_priority:
                  type: "string"
                  example: "13769415"
        type: "object"
  GenesisResponse:
    type: object
    required:
      - "jsonrpc"
      - "id"
      - "result"
    properties:
      jsonrpc:
        type: "string"
        example: "2.0"
      id:
        type: "string"
        example: ""
      result:
        required:
          - "genesis"
        properties:
          genesis:
            required:
              - "genesis_time"
              - "chain_id"
              - "consensus_params"
              - "validators"
              - "app_hash"
              - "app_state"
            properties:
              genesis_time:
                type: "string"
                example: "2019-04-22T17:00:00Z"
              chain_id:
                type: "string"
                example: "cosmoshub-2"
              consensus_params:
                required:
                  - "block"
                  - "evidence"
                  - "validator"
                properties:
                  block:
                    required:
                      - "max_bytes"
                      - "max_gas"
                      - "time_iota_ms"
                    properties:
                      max_bytes:
                        type: "string"
                        example: "200000"
                      max_gas:
                        type: "string"
                        example: "2000000"
                      time_iota_ms:
                        type: "string"
                        example: "1000"
                    type: "object"
                  evidence:
                    required:
                      - "max_age"
                    properties:
                      max_age:
                        type: "string"
                        example: "1000000"
                    type: "object"
                  validator:
                    required:
                      - "pub_key_types"
                    properties:
                      pub_key_types:
                        type: "array"
                        items:
                          type: "string"
                        example:
                          - "ed25519"
                    type: "object"
                type: "object"
              validators:
                type: "array"
                items:
                  type: "object"
                  properties:
                    address:
                      type: "string"
                      example: "B00A6323737F321EB0B8D59C6FD497A14B60938A"
                    pub_key:
                      required:
                        - "type"
                        - "value"
                      properties:
                        type:
                          type: "string"
                          example: "tendermint/PubKeyEd25519"
                        value:
                          type: "string"
                          example: "cOQZvh/h9ZioSeUMZB/1Vy1Xo5x2sjrVjlE/qHnYifM="
                      type: "object"
                    power:
                      type: "string"
                      example: "9328525"
                    name:
                      type: "string"
                      example: "Certus One"
              app_hash:
                type: "string"
                example: ""
              app_state:
                properties: {}
                type: "object"
            type: "object"
        type: "object"
  DumpConsensusResponse:
    type: object
    required:
      - "jsonrpc"
      - "id"
      - "result"
    properties:
      jsonrpc:
        type: "string"
        example: "2.0"
      id:
        type: "string"
        example: ""
      result:
        required:
          - "round_state"
          - "peers"
        properties:
          round_state:
            required:
              - "height"
              - "round"
              - "step"
              - "start_time"
              - "commit_time"
              - "validators"
              - "proposal"
              - "proposal_block"
              - "proposal_block_parts"
              - "locked_round"
              - "locked_block"
              - "locked_block_parts"
              - "valid_round"
              - "valid_block"
              - "valid_block_parts"
              - "votes"
              - "commit_round"
              - "last_commit"
              - "last_validators"
              - "triggered_timeout_precommit"
            properties:
              height:
                type: "string"
                example: "1311801"
              round:
                type: "string"
                example: "0"
              step:
                type: "number"
                example: 3
              start_time:
                type: "string"
                example: "2019-08-05T11:28:49.064658805Z"
              commit_time:
                type: "string"
                example: "2019-08-05T11:28:44.064658805Z"
              validators:
                required:
                  - "validators"
                  - "proposer"
                properties:
                  validators:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        address:
                          type: "string"
                          example: "000001E443FD237E4B616E2FA69DF4EE3D49A94F"
                        pub_key:
                          required:
                            - "type"
                            - "value"
                          properties:
                            type:
                              type: "string"
                              example: "tendermint/PubKeyEd25519"
                            value:
                              type: "string"
                              example: "9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM="
                          type: "object"
                        voting_power:
                          type: "string"
                          example: "239727"
                        proposer_priority:
                          type: "string"
                          example: "-11896414"
                  proposer:
                    required:
                      - "address"
                      - "pub_key"
                      - "voting_power"
                      - "proposer_priority"
                    properties:
                      address:
                        type: "string"
                        example: "708FDDCE121CDADA502F2B0252FEF13FDAA31E50"
                      pub_key:
                        required:
                          - "type"
                          - "value"
                        properties:
                          type:
                            type: "string"
                            example: "tendermint/PubKeyEd25519"
                          value:
                            type: "string"
                            example: "VNMNfw7mrQBSpEvCtA9ykOe6BoR00RM9b/a9v3vXZhY="
                        type: "object"
                      voting_power:
                        type: "string"
                        example: "295360"
                      proposer_priority:
                        type: "string"
                        example: "-88886833"
                    type: "object"
                type: "object"
              locked_round:
                type: "string"
                example: "-1"
              valid_round:
                type: "string"
                example: "-1"
              votes:
                type: "array"
                items:
                  type: "object"
                  properties:
                    round:
                      type: "string"
                      example: "0"
                    prevotes:
                      type: "array"
                      items:
                        type: "string"
                      example:
                        - "nil-Vote"
                        - "Vote{19:46A3F8B8393B 1311801/00/1(Prevote) 000000000000 64CE682305CB @ 2019-08-05T11:28:47.374703444Z}"
                    prevotes_bit_array:
                      type: "string"
                      example: "BA{100:___________________x________________________________________________________________________________} 209706/170220253 = 0.00"
                    precommits:
                      type: "array"
                      items:
                        type: "string"
                      example:
                        - "nil-Vote"
                    precommits_bit_array:
                      type: "string"
                      example: "BA{100:____________________________________________________________________________________________________} 0/170220253 = 0.00"
              commit_round:
                type: "string"
                example: "-1"
              last_commit:
                required:
                  - "votes"
                  - "votes_bit_array"
                  - "peer_maj_23s"
                properties:
                  votes:
                    type: "array"
                    items:
                      type: "string"
                    example:
                      - "Vote{0:000001E443FD 1311800/00/2(Precommit) 3071ADB27D1A 77EE1B6B6847 @ 2019-08-05T11:28:43.810128139Z}"
                  votes_bit_array:
                    type: "string"
                    example: "BA{100:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx} 170220253/170220253 = 1.00"
                  peer_maj_23s:
                    properties: {}
                    type: "object"
                type: "object"
              last_validators:
                required:
                  - "validators"
                  - "proposer"
                properties:
                  validators:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        address:
                          type: "string"
                          example: "000001E443FD237E4B616E2FA69DF4EE3D49A94F"
                        pub_key:
                          required:
                            - "type"
                            - "value"
                          properties:
                            type:
                              type: "string"
                              example: "tendermint/PubKeyEd25519"
                            value:
                              type: "string"
                              example: "9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM="
                          type: "object"
                        voting_power:
                          type: "string"
                          example: "239727"
                        proposer_priority:
                          type: "string"
                          example: "-12136141"
                  proposer:
                    required:
                      - "address"
                      - "pub_key"
                      - "voting_power"
                      - "proposer_priority"
                    properties:
                      address:
                        type: "string"
                        example: "B00A6323737F321EB0B8D59C6FD497A14B60938A"
                      pub_key:
                        required:
                          - "type"
                          - "value"
                        properties:
                          type:
                            type: "string"
                            example: "tendermint/PubKeyEd25519"
                          value:
                            type: "string"
                            example: "cOQZvh/h9ZioSeUMZB/1Vy1Xo5x2sjrVjlE/qHnYifM="
                        type: "object"
                      voting_power:
                        type: "string"
                        example: "8590153"
                      proposer_priority:
                        type: "string"
                        example: "-79515145"
                    type: "object"
                type: "object"
              triggered_timeout_precommit:
                type: "boolean"
                example: false
            type: "object"
          peers:
            type: "array"
            items:
              type: "object"
              properties:
                node_address:
                  type: "string"
                  example: "357f6a6c1d27414579a8185060aa8adf9815c43c@68.183.41.207:26656"
                peer_state:
                  required:
                    - "round_state"
                    - "stats"
                  properties:
                    round_state:
                      required:
                        - "height"
                        - "round"
                        - "step"
                        - "start_time"
                        - "proposal"
                        - "proposal_block_parts_header"
                        - "proposal_block_parts"
                        - "proposal_pol_round"
                        - "proposal_pol"
                        - "prevotes"
                        - "precommits"
                        - "last_commit_round"
                        - "last_commit"
                        - "catchup_commit_round"
                        - "catchup_commit"
                      properties:
                        height:
                          type: "string"
                          example: "1311801"
                        round:
                          type: "string"
                          example: "0"
                        step:
                          type: "number"
                          example: 3
                        start_time:
                          type: "string"
                          example: "2019-08-05T11:28:49.21730864Z"
                        proposal:
                          type: "boolean"
                          example: false
                        proposal_block_parts_header:
                          required:
                            - "total"
                            - "hash"
                          properties:
                            total:
                              type: "string"
                              example: "0"
                            hash:
                              type: "string"
                              example: ""
                          type: "object"
                        proposal_pol_round:
                          type: "string"
                          example: "-1"
                        proposal_pol:
                          type: "string"
                          example: "____________________________________________________________________________________________________"
                        prevotes:
                          type: "string"
                          example: "___________________x________________________________________________________________________________"
                        precommits:
                          type: "string"
                          example: "____________________________________________________________________________________________________"
                        last_commit_round:
                          type: "string"
                          example: "0"
                        last_commit:
                          type: "string"
                          example: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                        catchup_commit_round:
                          type: "string"
                          example: "-1"
                        catchup_commit:
                          type: "string"
                          example: "____________________________________________________________________________________________________"
                      type: "object"
                    stats:
                      required:
                        - "votes"
                        - "block_parts"
                      properties:
                        votes:
                          type: "string"
                          example: "1159558"
                        block_parts:
                          type: "string"
                          example: "4786"
                      type: "object"
                  type: "object"
        type: "object"
ConsensusStateResponse:
  type: object
  required:
    - "jsonrpc"
    - "id"
    - "result"
  properties:
    jsonrpc:
      type: "string"
      example: "2.0"
    id:
      type: "string"
      example: ""
    result:
      required:
        - "round_state"
      properties:
        round_state:
          required:
            - "height/round/step"
            - "start_time"
            - "proposal_block_hash"
            - "locked_block_hash"
            - "valid_block_hash"
            - "height_vote_set"
          properties:
            height/round/step:
              type: "string"
              example: "1262197/0/8"
            start_time:
              type: "string"
              example: "2019-08-01T11:52:38.962730289Z"
            proposal_block_hash:
              type: "string"
              example: "634ADAF1F402663BEC2ABC340ECE8B4B45AA906FA603272ACC5F5EED3097E009"
            locked_block_hash:
              type: "string"
              example: "634ADAF1F402663BEC2ABC340ECE8B4B45AA906FA603272ACC5F5EED3097E009"
            valid_block_hash:
              type: "string"
              example: "634ADAF1F402663BEC2ABC340ECE8B4B45AA906FA603272ACC5F5EED3097E009"
            height_vote_set:
              type: "array"
              items:
                type: "object"
                properties:
                  round:
                    type: "string"
                    example: "0"
                  prevotes:
                    type: "array"
                    items:
                      type: "string"
                    example:
                      - "Vote{0:000001E443FD 1262197/00/1(Prevote) 634ADAF1F402 7BB974E1BA40 @ 2019-08-01T11:52:35.513572509Z}"
                      - "nil-Vote"
                  prevotes_bit_array:
                    type: "string"
                    example: "BA{100:xxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx} 169753436/170151262 = 1.00"
                  precommits:
                    type: "array"
                    items:
                      type: "string"
                    example:
                      - "Vote{5:18C78D135C9D 1262197/00/2(Precommit) 634ADAF1F402 8B5EFFFEABCD @ 2019-08-01T11:52:36.25600005Z}"
                      - "nil-Vote"
                  precommits_bit_array:
                    type: "string"
                    example: "BA{100:xxxxxx_xxxxx_xxxx_x_xxx_xx_xx_xx__x_x_x__xxxxxxxxxxxxxx_xxxx_xx_xxxxxx_xxxxxxxx_xxxx_xxx_x_xxxx__xxx} 118726247/170151262 = 0.70"
          type: "object"
      type: "object"





#  // subscribe/unsubscribe are reserved for websocket events.
#  "subscribe":       rpc.NewWSRPCFunc(Subscribe, "query"),
#  "unsubscribe":     rpc.NewWSRPCFunc(Unsubscribe, "query"),
#  "unsubscribe_all": rpc.NewWSRPCFunc(UnsubscribeAll, ""),
#
#  // info API
#  "tx":                   rpc.NewRPCFunc(Tx, "hash,prove"),
#  "tx_search":            rpc.NewRPCFunc(TxSearch, "query,prove,page,per_page"),
#  "consensus_params":     rpc.NewRPCFunc(ConsensusParams, "height"),
#  "unconfirmed_txs":      rpc.NewRPCFunc(UnconfirmedTxs, "limit"),
#  "num_unconfirmed_txs":  rpc.NewRPCFunc(NumUnconfirmedTxs, ""),
#
#  // tx broadcast API
#  "broadcast_tx_commit": rpc.NewRPCFunc(BroadcastTxCommit, "tx"),
#  "broadcast_tx_sync":   rpc.NewRPCFunc(BroadcastTxSync, "tx"),

#  "broadcast_tx_async":  rpc.NewRPCFunc(BroadcastTxAsync, "tx"),
#
#  // abci API
#  "abci_query": rpc.NewRPCFunc(ABCIQuery, "path,data,height,prove"),
#  "abci_info":  rpc.NewRPCFunc(ABCIInfo, ""),
#
#  // evidence API
#  "broadcast_evidence": rpc.NewRPCFunc(BroadcastEvidence, "evidence"),
