// If you wanted to use logrotate, I suppose this might be the config you want.
// Instead, I'll just write our own, that way we don't need sudo to install.

$HOME/.tendermint/logs/tendermint.log {
  missingok
  notifempty
  rotate 12
  daily
  size 10M
  compress
  delaycompress
}

$HOME/.barak/logs/barak.log {
  missingok
  notifempty
  rotate 12
  weekly
  size 10M
  compress
  delaycompress
}
