.toggle {
    padding-bottom: 1em ;
}

.toggle .header {
    display: block;
    clear: both;
    cursor: pointer;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}