# Runs Jepsen tests: https://github.com/tendermint/jepsen.
name: jepsen
on:
  workflow_dispatch:
    inputs:
      workload:
        description: 'Test workload to run; e.g. cas-register, set'
        required: true
        default: 'cas-register'
      nemesis:
        description: 'Nemesis to use: (none | clocks | single-partitions | half-partitions | ring-partitions | split-dup-validators | peekaboo-dup-validators | changing-validators | crash | truncate-tendermint | truncate-merkleeyes)'
        required: true
        default: 'none'
      dupValidators:
        description: 'Whether to have multiple validators share the same key.'
        required: false
        default: 'false'
      superByzantineValidators:
        description: 'Should byzantine validators have just shy of 2/3 the voting weight?'
        required: false
        default: 'false'
      concurrency:
        description: 'How many workers should we run? Must be an integer and >= 10, optionally followed by n (e.g. 3n) to multiply by the number of nodes.'
        required: true
        default: 10
      timeLimit:
        description: 'Excluding setup and teardown, how long should a test run for, in seconds?'
        required: false
      tendermintUrl:
        description: 'Where to grab the Tendermint binary (linux/amd64 tarball)?'
        required: true
        default: 'https://github.com/melekes/katas/releases/download/0.2.0/tendermint.tar.gz'
      merkleeyesUrl:
        description: 'Where to grab the Merkleeyes binary (linux/amd64 tarball)?'
        required: true
        default: 'https://github.com/melekes/katas/releases/download/0.2.0/merkleeyes_0.1.7.tar.gz'

jobs:
  jepsen-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: 'tendermint/jepsen'

      - name: Start a Jepsen cluster
        working-directory: docker
        run: ./bin/up --daemon

      - name: Run the test
        working-directory: tendermint
        run: docker exec -i jepsen-control 'lein run test --nemesis ${{ github.event.inputs.nemesis }} --workload ${{ github.event.inputs.workload }} --concurrency ${{ github.event.inputs.concurrency }} --tendermint-url ${{ github.event.inputs.tendermintUrl }} --merkleeyes-url ${{ github.event.inputs.merkleeyesUrl }}'
