name: Check Markdown links

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gaurav-nelson/github-action-markdown-link-check@v1.0.14
        with:
          check-modified-files-only: 'yes'
          config-file: '.md-link-check.json'
